.front-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
 
    background-size: cover; 
    background-position: center; 
    color: rgb(98, 10, 180); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.welcome-title {
    font-size: 500%; 
    text-align: center; 
    margin: 0;
}